@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
* {
  box-sizing: border-box;
}
:root {
  --red: #3d1519;
  --whiteish: #faf6f6;
  --creme: #faf0e3;
  --yellowish: #f80;
}
body,
html {
  height: 100vh;
  margin: 0;
  font-family: "Merriweather", serif;
  background-color: var(--whiteish);
  font-size: 14px;
  color: var(--red);
}
.hero-violin {
  object-fit: cover;
  width: 100vw;
  height: 650px;
  background-position: center;
  margin-bottom: 2rem;
}
nav {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.logo {
  height: 40px;
  position: absolute;
  top: 5%;
  left: 5%;
}
.navigation-link {
  text-decoration: none;
  color: white;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.navigation-link:hover {
  color: var(--red);
}
.hero-text {
  position: absolute;
  justify-content: center;
  top: 15%;
  color: white;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-left: 12%;
}
p {
  font-weight: lighter;
}
h2 {
  font-size: 2rem;
  color: var(--red);
  text-align: center;
}
h3 {
  margin-top: 20px;
}
h4 {
  margin-top: 5px;
  font-size: 2rem;
  color: var(--red);
}
h5 {
  color: var(--red);
}
.hero-text p {
  width: 60%;
  margin-left: 12%;
}
/* dropdown menu */
.dropdown {
  position: absolute;
  right: 5%;
  top: 5%;
}
.dropbtn {
  border: none;
  background: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--creme);
  border-radius: 6px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: end;
}
.dropdown-content a {
  text-decoration: none;
  color: var(--red);
  padding: 5px;
}
.dropdown:hover .dropdown-content {
  display: block;
  padding: 12px 16px;
}
.dropdown-content a:hover {
  background-color: var(--whiteish);
  border-radius: 6px;
}
.hamburger div {
  width: 40px;
  height: 5px;
  margin: 5px;
  background-color: var(--whiteish);
  border-radius: 7px;
}
/* Products */
.products_heading {
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.products_heading h2 {
  margin-bottom: 2rem;
}
.product-box {
  position: relative;
}
.card {
  position: absolute;
  top: 0;
  left: 15px;
  height: 500px;
  width: 300px;
  border-radius: 30px;
  background-color: var(--creme);
  outline: var(--red) solid 2px;
  box-shadow: 5px 5px 10px gray;
  transition: 0.2s ease-in-out;
  display: none;
}
.card h4 {
  padding-left: 30px;
}
.card p {
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 25px;
}
.appointment-btn {
  margin-left: 48px;
  width: 200px;
}
.appointment-btn,
.read-more-btn {
  background-color: var(--yellowish);
  border: none;
  height: 40px;
  border-radius: 6px;
  transition: 0.2s ease-in-out;
}
.read-more-btn:hover,
.appointment-btn:hover {
  transform: scale(1.04);
  border: var(--red) 0.5px solid;
}
.bold {
  font-weight: bolder;
}
.show-card {
  display: initial;
}
.close {
  height: 25px;
  transform: translate(246px, 35px);
}
.close:hover {
  cursor: pointer;
}
.products_heading {
  text-align: center;
  margin-top: 20px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 3rem;
}
.violin {
  height: 500px;
  width: 325px;
  margin-top: 2rem;
  display: flex;
  padding-left: 10px;
}
.violin > img {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 5rem;
}
.box ul {
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
}
.violin h4 {
  margin-bottom: 4rem;
  align-self: center;
}

/* Factory */
.factory {
  margin-left: 5%;
  margin-top: 7rem;
  /* display: flex; */
  /* padding: 50px 25px 25px 40px; */
}
.factory h2 {
  margin-bottom: 2rem;
}
.factory p {
  margin-right: 10%;
  margin-bottom: 3rem;
}
iframe {
  height: 200px;
  width: 340px;
}

/* Manufacturing */
.manufacturing_heading {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
  margin-top: 5rem;
}
.manufacturing_heading h5 {
  margin-top: 2rem;
}
.manufacturing {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.man-item {
  height: 332px;
  width: 185px;
  margin: 2rem 1rem;
  background-color: var(--creme);
  border-radius: 10px;
  box-shadow: 5px 5px 10px gray;
  transition: 0.2s ease-in-out;
}
.man-item > h4 {
  text-align: center;
  font-size: 1.5rem;
}
.man-item > p {
  padding: 5px 10px 15px 10px;
  margin-bottom: 0;
}
.man-item > img {
  width: 100%;
  border-radius: 0 0 10px 10px;
}
.man-item:hover {
  outline: var(--red) solid 2px;
  transform: scale(1.05);
  cursor: pointer;
}
/* Karusellen */
.carousel_heading {
  margin-top: 7rem;
  margin-bottom: 2rem;
}
.container {
  height: 30%;
  width: 100%;
}
.container h3 {
  margin-top: 25px;
  margin-bottom: 20px;
}
.container p {
  font-style: italic;
}
.corusel-image {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 200px;
  margin-top: 10px;
}
article {
  padding: 20px;
  text-align: center;
}
/* finns ingen h4 i karusellen? */
/* h4 {
  margin-top: 5%;
  font-size: 28px;
} */

.accessories_heading {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
}
.accessories_heading h2 {
  margin-bottom: 2rem;
}
.accessories {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* margin: 1.5rem; */
}
.accessories_heading > h5 {
  padding-right: 3rem;
  padding-left: 3rem;
}
.acc-item {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  border: var(--red) solid 1px;
  transition: 0.2s ease-in-out;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.acc-item:hover {
  box-shadow: 5px 5px 10px gray;
  transform: scale(1.01);
  cursor: pointer;
}
.acc-item > h4 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0;
}
.acc-item > img {
  height: 100px;
}
/* NEWSLETTER */
.newsletter img {
  height: 400px;
  width: 100vw;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.newsletter {
  height: 400px;
  width: 100vw;
}
.email-container {
  top: 0%;
  width: 90%;
  transform: translateY(100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--whiteish);
}
.email-container h2 {
  color: var(--whiteish);
}
.email-container p {
  text-align: center;
}
.sign-up-btn {
  background-color: var(--whiteish);
  border: var(--red) 2px solid;
  border-radius: 6px;
  width: 80px;
}

/* footer mobile */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 30px;
  width: 100%;
  height: 340px;
  color: var(--whiteish);
  background-color: var(--red);
  margin-bottom: 0;
}
.logo-footer {
  width: 100px;
}
.links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.links img:hover {
  opacity: 70%;
  cursor: pointer;
}
footer > img {
  width: 50%;
}
ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
}
.email:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Media queries */
@media screen and (min-width: 430px) {
  .hero-text {
    top: 20%;
  }
}
@media screen and (min-width: 850px) {
  .logo {
    height: 60px;
  }
  nav {
    display: flex;
  }
  .navigation-link {
    font-size: 18px;
  }
  .dropdown {
    display: none;
  }
  .hero-text {
    display: flex;
    justify-content: center;
    top: 40%;
  }
  .hero-text p {
    width: 500px;
    font-size: 1.5rem;
    margin-right: 10%;
  }
  h1 {
    font-size: 5rem;
  }
  .container p {
    margin-left: 15%;
    margin-right: 15%;
  }
  .factory {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .factory-text {
    width: 300px;
  }
  .email-container {
    transform: translateY(50px);
  }
}
@media screen and (min-width: 615px) {
  iframe {
    width: 560px;
    height: 315px;
  }
  .email-container {
    flex-direction: row;
    justify-content: center;
  }
  .subscribe-text {
    width: 300px;
    margin: 5%;
  }
}
