@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
* {
  box-sizing: border-box;
}
:root {
  --red: #3d1519;
  --whiteish: #faf6f6;
  --creme: #fce3c5;
}
body,
html {
  height: 100vh;
  margin: 0;
  font-family: "Merriweather", serif;
  background-color: var(--whiteish);
  font-size: 14px;
}
.hero-violin {
  object-fit: cover;
  width: 100vw;
  height: 650px;
  background-position: center;
}
nav {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hamburger {
  position: absolute;
  right: 5%;
  top: 5%;
}
.hamburger div {
  width: 40px;
  height: 5px;
  margin: 5px;
  background-color: var(--whiteish);
  border-radius: 7px;
}
.logo {
  height: 40px;
  position: absolute;
  top: 5%;
  left: 5%;
}
.navigation-link {
  text-decoration: none;
  color: white;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.hero-text {
  position: absolute;
  /* display: flex; */
  justify-content: center;
  top: 25%;
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  color: white;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-left: 12%;
}
p {
  font-weight: lighter;
}
h3 {
  margin-top: 20px;
}
h4 {
  margin-top: 5px;
  font-size: 1.5rem;
  color: var(--red);
}
.hero-text p {
  width: 60%;
  margin-left: 12%;
}
/* Products */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.violin {
  height: 400px;
  width: 200px;
  background-color: orangered;
}
.violin > img {
  width: 100%;
}

/* försök till att få fram text vid hover */
/* .violin > img:hover {
  display: none;
}
.box {
  display: none;
}
.violin > img:hover .box {
  display: block;
} */

.factory {
  /* display: flex; */
  padding: 50px 25px 25px 40px;
}
.factory p {
margin-right: 10%;
}
.manufacturing {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.man-item {
  height: 322px;
  width: 175px;
  margin: 1rem;
  background-color: var(--whiteish);
  border-radius: 10px;
  box-shadow: 5px 5px 10px gray;
  transition: 0.2s ease-in;
}
.man-item > h4 {
  text-align: center;
}
.man-item > p {
  padding: 5px 10px 15px 10px;
  margin-bottom: 0;
}
.man-item > img {
  width: 100%;
  border-radius: 0 0 10px 10px;
}
.man-item:hover {
  outline: var(--red) solid 2px;
  transform: scale(1.05);
}
/* Karusellen */
.container {
  height: 30%;
  width: 100%;
}
.corusel-image {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 200px;
  margin-top: 10px;
}
article {
  padding: 20px;
  text-align: center;
}
/* finns ingen h4 i karusellen? */
/* h4 {
  margin-top: 5%;
  font-size: 28px;
} */
@media screen and (min-width: 850px) {
  .logo {
    height: 60px;
  }
  nav {
    display: flex;
  }
  .navigation-link {
    font-size: 18px;
  }

  .hero-text {
    display: flex;
    justify-content: center;
    top: 40%;
  }
  .hero-text p {
    width: 500px;
    font-size: 1.5rem;
    margin-right: 10%;
  }
  h1 {
    font-size: 5rem;
  }
  .container p {
    margin-left: 15%;
    margin-right: 15%;
  }
  .factory {
    display: flex;
  }
}
/* footer mobile */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 30px;
  width: 100%;
  height: 340px;
  color: var(--whiteish);
  background-color: var(--red);
  margin-bottom: 0;
}
.logo-footer{
width: 100px;
}
.links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.links img:hover {
  opacity: 70%;
}
footer > img {
  width: 50%;
}
ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
}
